page-myprofile {
        .master{
            background-color: white;
        }  
        ion-header{
            background-color: #0e92ed;
        border-bottom-right-radius: 3.5rem;
        box-shadow: -5px 5px 0px 0 rgb(24, 6, 90);
        }
        
        #head{
            font-size: 30px;
        font-weight: bold;
        color: white;
        margin: 10px;
        }
    #top{
        text-align: center;
    }
    #menu{
        background-color:transparent;
        float: left;
        font-size: xx-large;
        margin-left: 5px;
        color:white
    }
}
